/* #4d53fd */

/* #914dfd */

/* #4dfd9b */

/* #00ab3c */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Oxygen', sans-serif;
}

html, body, main {
    margin: 0;
    width: 100%;
    min-height: 100%;
    height: auto;
}

nav {
    width: 100%;
}

nav .wrapper {
    margin: 0 70px;
    min-height: 60px;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 20%), 0 10px 10px -5px rgb(0 0 0 / 10%);
}

main {
    padding: 10px 60px;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
}

h3, h4 {
    font-weight: normal;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.col-3 {
    flex: 0 0 auto;
    width: 25%;
}

.col-9 {
    flex: 0 0 auto;
    width: 75%;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.display-middle {
    display: flex;
    align-items: center;
}

.painel {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, .20), 0 10px 10px -5px rgba(0, 0, 0, .1);
    min-height: 200px;
    margin: 0 10px;
    padding: 20px;
}

.bg-white {
    background-color: #fff;
}

.text-center {
    text-align: center;
}

div#place-wrapper select {
    padding: 10px;
    font-family: 'Oxygen', sans-serif;
    border: 0;
    font-size: 14px;
}

.statistics-item {
    margin-top: 20px;
}

.statistics-item .icon {}

.statistics-item .icon img {
    width: 100%;
    height: 100%;
    max-height: 50px;
    max-width: 50px;
}

.statistics-item .icon span {
    display: block;
    padding: 10px;
    border-radius: 50%;
}

.statistics-item .description {
    padding-left: 15px;
    max-width: 200px;
    text-align: justify;
}

.statistics-item .description p {
    font-size: 14px;
    padding: 0 10px;
}

.bg-t-1 {
    background: rgb(77 83 253 / 10%);
}

.bg-t-2 {
    background: rgb(145 77 253 / 10%);
}

.bg-t-3 {
    background: rgb(0 171 60 / 10%);
}

.bg-t-4 {
    background: rgb(77 253 155 / 10%);
}

#darkmode:checked {
    color: #e6e6ff;
    box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
}

#darkmode {
    z-index: 1;
    position: fixed;
    top: 15px;
    right: 15px;
    --size: 2rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    width: var(--size);
    height: var(--size);
    border-radius: 999px;
    transition: all 500ms;
    
    --ray-size: calc(var(--size) * -0.4);
    --offset-orthogonal: calc(var(--size) * 0.65);
    --offset-diagonal: calc(var(--size) * 0.45);
    transform: scale(0.75);
    color: #ffaa00;
    box-shadow: inset 0 0 0 var(--size), calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size), var(--offset-orthogonal) 0 0 var(--ray-size), 0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size), 0 var(--offset-orthogonal) 0 var(--ray-size), calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0 var(--ray-size), var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size), calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size), var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size);
}

#darkmode:checked~.background {
    --bg: #152028;
}

.background {
    --bg: linear-gradient(140deg, rgb(145 78 253 / 80%) 0%, rgb(77 253 155 / 30%) 25%, rgb(77 83 253 / 30%) 50%, rgb(0 171 60 / 30%) 75%);
    background: var(--bg);
    transition: background 500ms;
    z-index: -1;
    width: 100%;
    height: 100%;
    padding: 10px 0 20px;
}

footer {
    margin-top: 50px
}

footer p {
    margin: 0
}

body.darkmode .c-white-darkmode {
    color: #eaeaea;
}

body.darkmode .bg-white, body.darkmode select {
    background-color: #eaeaea;
}

body.darkmode nav .wrapper, body.darkmode .painel {
    box-shadow: 0 20px 25px -5px rgb(255 255 255 / 0%), 0 10px 10px -5px rgb(255 255 255 / 52%);
}

span.info {
    font-weight: 600;
    border-radius: 50%;
    background-color: rgb(195 195 195 / 80%);
    padding: 0px 5px;
    color: #666666;
    cursor: pointer
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover, #close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 1025px) {
    .col-md-12 {
        width: 100% !important;
    }
}

@media (max-width: 577px) {
    div[class*="col-"] {
        width: 100%;
    }
    main {
        padding: 5px 5px 0;
    }
    nav .wrapper {
        display: block;
        margin: 30px 15px;
        padding: 20px 10px
    }
    .statistics-item {
        display: block;
    }
    .statistics-item .icon {
        max-height: 70px;
        max-width: 70px;
        margin: auto;
    }
    .statistics-item .description p {
        font-size: 17px;
    }
    .statistics-item .description {
        max-width: 100%;
    }
    div#logo-wrapper {
        margin-bottom: 20px
    }
    div#place-wrapper select {
        padding-left: 0;
        max-width: 260px;
    }
}