<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ appName }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;700&display=swap" rel="stylesheet">

    <link rel='stylesheet' href="../static/css/style.css" ></link>
</head>
<body>
    <input id="darkmode" class="toggle" type="checkbox">

    <div class="background">
        <nav>
            <div class="wrapper display-middle bg-white">
                <div id="logo-wrapper">
                    {{ appName }}
                </div>
                <div id="place-wrapper">
                    <select name="place" id="place">
                    </select>
                </div>
            </div>
        </nav>
    
        <main>
            <div class="row">
                <div id="statistics" class="col-12">
                    <div class="painel bg-white">
                        <h3>Estatísticas</h3>
                        <div class="row">
                            <div class="col-6 col-md-12">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="statistics-item display-middle">
                                            <div class="icon">
                                                <span class="bg-t-1"><img src="../static/img/bus.png" alt="Ônibus e Carro"></span>
                                            </div>
                                            <div class="description display-middle">
                                                <p>Lorem ipsum dolor <strong>293</strong> sit amet. Phasellus vel tellus neque, quisque aliquet.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="statistics-item display-middle">
                                            <div class="icon">
                                                <span class="bg-t-2"><img src="../static/img/co2.png" alt="CO2"></span>
                                            </div>
                                            <div class="description display-middle">
                                                <p>Lorem ipsum dolor <strong>293</strong> sit amet. Phasellus vel tellus neque, quisque aliquet.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-12">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="statistics-item display-middle">
                                            <div class="icon">
                                                <span class="bg-t-3"><img src="../static/img/plant.png" alt="Planeta terra"></span>
                                            </div>
                                            <div class="description display-middle">
                                                <p>Lorem ipsum dolor <strong>293</strong> sit amet. Phasellus vel tellus neque, quisque aliquet.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="statistics-item display-middle">
                                            <div class="icon">
                                                <span class="bg-t-4"><img src="../static/img/bicycle.png" alt="Bicicleta"></span>
                                            </div>
                                            <div class="description display-middle">
                                                <p>Lorem ipsum dolor <strong>293</strong> sit amet. Phasellus vel tellus neque, quisque aliquet.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div id="vehicles-line" class="col-6">
                    <div class="painel bg-white">
                        <h4 class="text-center">Quantidade de veículos durante a semana <span class="info"
                            data-text="In hac habitasse platea dictumst. Fusce vel sodales urna. Quisque non urna ut lectus suscipit semper pretium ac odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porttitor congue urna, id lacinia urna tempus nec. Mauris cursus finibus ultricies. Quisque ac condimentum magna. Pellentesque posuere auctor est, non eleifend quam vestibulum consequat. In hac habitasse platea dictumst. Fusce id lorem elit. Etiam tempor velit a ante convallis cursus. Pellentesque tincidunt lorem justo. Nullam aliquet quam metus. Ut nisi arcu, elementum ac mi ullamcorper, consectetur rhoncus leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos 1." 
                            alt="descrição">+</span></h4>
                        <div style="height: 430px">
                            <canvas id="chart-vehicles-line"></canvas>
                        </div>
                    </div>
                </div>
    
                <div id="vehicles-doughnut" class="col-6">
                    <div class="painel bg-white">
                        <h4 class="text-center">Total de veículos durante a semana <span class="info"
                            data-text="In hac habitasse platea dictumst. Fusce vel sodales urna. Quisque non urna ut lectus suscipit semper pretium ac odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porttitor congue urna, id lacinia urna tempus nec. Mauris cursus finibus ultricies. Quisque ac condimentum magna. Pellentesque posuere auctor est, non eleifend quam vestibulum consequat. In hac habitasse platea dictumst. Fusce id lorem elit. Etiam tempor velit a ante convallis cursus. Pellentesque tincidunt lorem justo. Nullam aliquet quam metus. Ut nisi arcu, elementum ac mi ullamcorper, consectetur rhoncus leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos 2." 
                             alt="descrição">+</span></h4>
                        <div style="height: 430px">
                            <canvas id="chart-vehicles-doughnut"></canvas>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div id="vehicles-scatter" class="col-12">
                    <div class="painel bg-white">
                        <h4 class="text-center">Proporção de veículos por horário na semana <span class="info"
                            data-text="In hac habitasse platea dictumst. Fusce vel sodales urna. Quisque non urna ut lectus suscipit semper pretium ac odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porttitor congue urna, id lacinia urna tempus nec. Mauris cursus finibus ultricies. Quisque ac condimentum magna. Pellentesque posuere auctor est, non eleifend quam vestibulum consequat. In hac habitasse platea dictumst. Fusce id lorem elit. Etiam tempor velit a ante convallis cursus. Pellentesque tincidunt lorem justo. Nullam aliquet quam metus. Ut nisi arcu, elementum ac mi ullamcorper, consectetur rhoncus leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos 3." 
                             alt="descrição">+</span></h4>
                        <div style="height: 430px">
                            <canvas id="chart-vehicles-scatter"></canvas>
                        </div>
                    </div>
                </div>
            </div>
    
            <footer>
                <p class="text-center c-white-darkmode ">Made with 💚 by</p>
                <p class="text-center c-white-darkmode "><small>
                    <a href="mailto:asm7@cin.ufpe.br">Anne</a>, 
                    <a href="mailto:flso@cin.ufpe.br">Franklin</a>, 
                    <a href="mailto:oackb@cin.ufpe.br">Otávio</a> e 
                    <a href="mailto:ws@cin.ufpe.br">Wesley</a>.
                </small></p>
            </footer>
        </main>
    </div>
    
    <div id="modal" class="modal">
        <div id="modal-content">
            <span id="close">&times;</span>
            <p id="modal-description">-</p>
        </div>
    
    </div>

    <script src="../static/js/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@^2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@^1"></script>
    <script src="../static/js/script.js"></script>
    <script>
        const select = document.getElementById("place"); 
        const options = JSON.parse('{{ places | tojson | safe }}'); 

        for (var i = 0; i < options.length; i++) {
            let opt = options[i];
            let el = document.createElement("option");
            el.textContent = opt.label;
            el.value = opt.value;
            select.appendChild(el);
        }

        const charts = loadCharts(JSON.parse('{{ variables | tojson | safe }}'));
    </script>
</body>
</html>